/* Define the global or root variable */
:root{
    --primarycolor:#213555;
    --backgroundColor: #F5EFE7;
    --primaryAccentColor:#4F709C;
    --secondaryColor:#D8C4B6;
    --whiteColor:white;
    --blackColor:#222222;
    --primaryFont:"Open Sans",sans-serif;
    --cursiveFont:'Pacifico',cursive;
    --navbarHeight:3rem;
}
a{
    text-decoration: none;
    color: var(--primaryColor);
}
a:hover{
    color: var(--primaryAccentColor);
}

/* Main Css */
body{
    background-color: var(--backgroundColor);
    color: var(--primarycolor);
    font-family: var(--primaryFont);
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    
}
/* Navigation bar */
.navigation{
    background-color:var(--whiteColor) ;
    height: var(--navbarHeight);
    display: flex;
    justify-content: space-around;
    align-items: center;
    filter: drop-shadow(0px 3px 4px pink); 
    margin-bottom: 5pxs;
}
  
.logo{
   display: flex;
    padding-left: 20px;
    width: 12rem;
    align-items: center;
}    


.logoimage{
    padding: 8px;
    height: 2rem;
    /* float: left; */
}

.contactimage{
    height: 2rem;
    padding: 8px;
    margin-right: 40px; 
}

.menuitems{
    flex-grow: 2;
}

.menuitem{
    margin-left: 20px;
}

/* Banner */
.banner{
    display: flex;
    height: 450px;
    background: linear-gradient(45deg,var(--primaryAccentColor),var(--secondaryColor));
    /* background-color: var(--secondaryColor); */
    filter: drop-shadow(0px 3px 4px pink);              /* x,y,radious,color */
    justify-content: space-around;
    align-items: center;
    padding: 20px;
}
.bannerleft{
    width: 50%;
}
.bannerright{
    /* width: 50%; */
}
.bannerimage{
height: 300px;
border-radius: 100%;
}
.greeting{
    font-family: var(--cursiveFont);
    font-size: 1.25rem;
}
.title{
    font-size: 2.5rem;
    color: white;
}
.titlespan{
    display: inline-block;
    background-color: var(--primarycolor);
    padding: 0.5rem;
    margin: 5px 0px;
}
.description{
    margin: 30px 0px;
    line-height: 2rem;
}
.showCVbutton{
    background:linear-gradient(white,rgb(98, 96, 96),rgb(245,245,245)) ;
    text-decoration: none;
    padding: 10px 15px;
    border-radius: 5px;
    filter: drop-shadow(5px 5px 3px grey);
}
.showCVbutton{
    background-color: linear-gradient( white,rgb(215,215,215));
}
/* services section */
.services{
    margin: 80px ;
}

.servicestext{
    text-align: center;
    text-transform: uppercase;
}

.textsubheading{
    color: var(--primaryAccentColor);
    letter-spacing: 0.4rem;
    font-size: 1.25rem;
}


.textheading{
    font-size: 2.25rem;
    font-weight: bold;
}

.servicecards{
    margin-top: 30px;
    display: flex;
    justify-content: space-around;
}

.servicecard{
    background-color: white;
    border: 2px solid grey;
    border-radius: 2px;
    filter: drop-shadow(1px 1px 2px #aaaaaa);
    /* margin: 15px; */
    padding: 40px;
}

.servicecard:hover{
    background-color: white;
    filter: drop-shadow(3px 3px 8px grey);
}

.servicetitle{
    font-weight:bold ;
    font-size: 1.5rem ;
}

.serviceicondiv{
    background-color: rgb(80 ,80,118);
    display: inline-block;
    padding: 40px;
    margin-bottom: 20px;
}
.serviceicon{
    background-color: 227,218,218;
    font-size: 3rem;
    color: white;
}
.servicetitle{
    font-size: 1.75rem;
   margin: 20px 0px;
}
.servicefeature{
    font-size: 1rem;
    margin: 10px 0px;
}
.servicefeatureicon{
    font-size: 1rem;
}

    

